.post-comments, .user-comments {
  .empty {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PTSans-Bold;
    font-size: 30px;
    color: $gray-dark-2;
    line-height: 39px;
  }
  .title-filter-wrapper {
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .title-count {
      font-family: PTSans-Bold;
      font-size: 30px;
      color: $gray-dark-2;
      .count {
        color: $green;
      }
    }
    .orderby {
      font-family: PTSans-Regular;
      font-size: 16px;
      line-height: 18px;
      color: $gray-light-2;
      span {
        font-family: PTSans-Bold;
        color: $blue-dark-1;
        margin-left: 20px;
        cursor: pointer;
        transition: color .5s ease-in-out;
        &.active {
          color: $gray-dark-2;
          transition: color .5s ease-in-out;
        }
      }
    }
  }
  .user-info-wrapper {
    flex-grow: 1;
    flex-basis: 30px;
    padding-right: 20px;
    .user-info {
      display: flex;
      padding: 0;
      >div {
        .name-wrapper {
          .name {
            padding-left: 10px;
            margin-left: 0;
            line-height: 17px;
            max-height: 34px;
            position: relative;
            &:after {
              content: '';
              display: none;
              width: 10px;
              height: 17px;
              position: absolute;
              bottom: 0;
              right: 0;
              background-image: linear-gradient(to left, $white 40%, $transparent);
            }
            &.on-user-page {
              &:after {
                background-image: linear-gradient(to left, $background 40%, $transparent);
              }
            }
            &.overflowed {
              &:after {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .new-comment-wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    .input-group {
      width: 100%;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      .input-area-wrapper {
        @include textarea;
        width: 100%;
        textarea {
          padding-right: 100px;
        }
      }
      .add-comment-btn {
        width: 60px;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 2px solid transparent;
        background: linear-gradient(to bottom, $blue, $blue-dark-1);
        border-radius: 0 3px 3px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &:disabled {
          background: $background;
          border: 2px solid $gray-light-3;
          cursor: not-allowed;
          transition: all .5s ease-in-out;
          .icon-wrapper {
            svg path {
              fill: $gray-light-3;
              transition: fill .5s ease-in-out;
            }
          }
        }
        .icon-wrapper {
          width: 20px;
          height: 20px;
          svg path {
            fill: $white;
            transition: fill .5s ease-in-out;
          }
        }
      }
    }
    .hotkey-hint {
      flex-grow: 1;
      flex-basis: 30px;
      font-family: PTSans-Regular;
      padding-left: 40px;
      //text-align: center;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      display: none;
      .hotkey {
        font-size: 14px;
        line-height: 17px;
        color: $gray-dark-2;
      }
      .caption {
        font-size: 12px;
        line-height: 14px;
        color: $gray-light-2;
        margin-top: 10px;
      }
    }
  }
  .user-ban-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFF8E1;
    display: flex;
    align-items: center;
    .icon {
      &, svg { @include min-max-size(40px, 40px); }
      svg {
        path {
          fill: #FF8F00
        }
      }
    }
    .ban-reason {
      margin-left: 20px;
      font-family: PTSans-Regular;
      color: $gray-dark-2;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .comment {
    display: flex;
    flex-direction: column;
    &.unapproved {
      .main-block {
        .comment-content {
          .comment-text {
            color: $gray-light-2;
            cursor: not-allowed;
            max-height: 0;
            min-height: fit-content;
            -moz-min-height: fit-content;
            overflow: hidden;
            word-break: break-all;
          }
          .new-comment-wrapper {
            max-height: 0;
            overflow: hidden;
          }
        }
      }
    }
    .main-block {
      width: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      .comment-content {
        width: 100%;
        font-family: PTSans-Regular;
        position: relative;
        .date-rating-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .comment-date {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            position: relative;

            font-size: 14px;
            line-height: 21px;
            color: $gray-light-2;
            .edit-message {
              cursor: pointer;
              position: absolute;
              .has-hover &:hover {
                span {
                  color: $blue-dark-1;
                  transition: color, .5s ease-in-out;
                }
              }
              span {
                font-family: PTSans-Bold;
                transition: color, .5s ease-in-out;
              }
            }
            &:after {
              content: '';
              display: block;
              width: 40px;
              height: 42px;
              position: absolute;
              top: 0;
              right: 0;
              background-image: linear-gradient(to left, $background 40%, $transparent);
            }
            &.editable {
              padding-bottom: 21px;
            }
          }
        }
        .comment-text {
          font-size: 16px;
          color: $gray-dark-2;
          line-height: 24px;
        }
        >.custom-popover {
          @include n1f;
          white-space: normal;
          padding: 20px 20px 20px 60px;
          margin-top: 20px;
          position: relative;
          top: -40px;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 20px;
            min-height: 20px;
            position: absolute;
            top: 20px;
            left: 20px;
          }
        }
        .reply, .answers-count-wrapper {
          padding: 10px 0;
          cursor: pointer;
          &, & .new-answers-count {
            font-family: PTSans-Bold;
            font-size: 14px;
            line-height: 17px;
            color: $blue-dark-1;
            transition: color .5s ease-in-out;
          }
          .has-hover &:hover {
            color: $blue-dark-3;
            transition: color .5s ease-in-out;
          }
        }
        .answers-count-wrapper {
          display: inline-block;
          padding: 10px;
          &.no-left-padding { padding-left: 0; }
          .new-answers-count {
            display: inline-block;
            min-width: 20px;
            height: 20px;
            padding: 0 3px;
            margin-left: 10px;
            border-radius: 3px;
            background-color: $orange;
            font-family: PTSans-Regular;
            font-size: 12px;
            color: $white;
            line-height: 20px;
            text-align: center;
          }
        }
        .post-info {
          display: flex;
          cursor: pointer;
          font-size: 14px;
          padding: 10px 0;
          .icon {
            svg {
              width: 20px;
              height: 20px;
              path {
                fill: $gray-light-2;
              }
            }
          }
          span {
            margin-left: 10px;
            font-family: PTSans-Regular;
            color: $gray-light-2;
            white-space: nowrap;
          }
          a {
            width: 100%;
            display: block;
            margin-left: 10px;
            font-family: PTSans-Bold;
            color: $blue-dark-1;
            line-height: 21px;
            max-height: 42px;
            overflow: hidden;
            position: relative;
            transition: color .5s ease-in-out;
            &:after {
              content: '';
              display: block;
              width: 40px;
              height: 42px;
              position: absolute;
              top: 0;
              right: 0;
              background-image: linear-gradient(to left, $background 40%, $transparent);
            }
          }
          .has-hover &:hover {
            a {
              color: $blue-dark-3;
              transition: color .5s ease-in-out;
            }
          }
        }
      }
      .comment-rating-wrapper {
        flex-grow: 1;
        flex-basis: 30px;
        padding-left: 40px;
        display: none;
        .rating-wrapper {
          width: max-content;
          width: -moz-max-content;
          justify-content: flex-start;
          top: -10px;
        }
      }
    }
    .answer-block {
      width: 100%;
      padding-left: 20px;
      .user-and-comment-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .reply-block {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      .new-comment-wrapper {
        flex-direction: row;
      }
      .user-and-input-wrapper {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
      }
    }
    .padding-block {
      display: none;
    }
  }

  @media (max-width: 719px) {
    .user-info-wrapper {
      .user-info {
        >div {
          align-items: flex-start;
          .image {
            @include min-max-size(20px, 20px);
            .name {
              font-size: 7px;
            }
          }
          .ranking-wrapper {
            .icon-wrapper {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .comment {
      .main-block {
        .comment-content {
          .date-rating-wrapper {
            .comment-date {
              .edit-message {
                left: 0;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 720px) {
    .empty {
      font-size: 40px;
      line-height: normal;
    }
    .title-filter-wrapper {
      flex-direction: row;
      justify-content: space-between;
      .title-count {
        font-size: 40px;
      }
    }
    .user-info-wrapper {
      flex-grow: 1;
      flex-basis: 30px;
      min-width: 140px;
      padding-right: 20px;
      .user-info {
        >div {
          .name-wrapper {
            .name {
              display: inline-block;
              overflow: hidden;
              position: relative;
            }
          }
        }
      }
    }
    .new-comment-wrapper {
      flex-direction: row;
    }
    .user-ban-info {
      padding: 20px 40px;
    }
    .comment {
      .main-block {
        flex-direction: row;
        .comment-content {
          .date-rating-wrapper {
            .comment-date {
              margin-bottom: 10px;
              line-height: 17px;
              &:after {
                height: 34px;
              }
              &.editable {
                padding-bottom: 0;
              }
            }
            .rating-wrapper {
              display: none;
            }
          }
          .post-info {
            margin-top: 10px;
          }
        }
        .comment-rating-wrapper {
          display: block;
        }
      }
      .answer-block {
        padding-left: 0;
        .user-and-comment-wrapper {
          width: calc(100% - 20px);
          max-width: 560px;
          flex-direction: row;
        }
      }
      .reply-block {
        .user-and-input-wrapper {
          max-width: 560px;
          flex-direction: row;
        }
      }
      .padding-block {
        display: block;
        flex-grow: 1;
        flex-basis: 15px;
        padding-right: 20px;
      }
    }
  }

  @media (min-width: 960px) {
    .user-info-wrapper {
      padding-right: 40px;
    }
    .new-comment-wrapper {
      .input-group {
        max-width: 560px;
      }
      .hotkey-hint {
        display: flex;
      }
    }
    .comment {
      .main-block {
        .comment-content {
          max-width: 560px;
          >.custom-popover {
            margin-top: 40px;
          }
        }
      }
      .padding-block {
        flex-basis: 30px;
        padding-right: 40px;
      }
    }
  }

  @media (min-width: 1340px) {
    .user-info-wrapper {
      padding-right: 80px;
    }
    .new-comment-wrapper {
      .input-group {
        max-width: 640px;
      }
      .hotkey-hint {
        padding-left: 80px;
        align-items: flex-start;
        text-align: center;
      }
    }
    .comment {
      .main-block {
        .comment-content {
          max-width: 640px;
        }
        .comment-rating-wrapper {
          padding-left: 80px;
        }
      }
      .answer-block {
        .user-and-comment-wrapper {
          max-width: 640px;
        }
      }
      .reply-block {
        .user-and-input-wrapper {
          max-width: 640px;
        }
      }
      .padding-block {
        padding-right: 80px;
      }
    }
  }
}

.post-comments {
  width: 100%;
  margin-bottom: 80px;
  .comment {
    .main-block {
      .comment-content {
        .date-rating-wrapper {
          .comment-date {
            &:after {
              background-image: linear-gradient(to left, $white 40%, $transparent);
            }
          }
        }
      }
    }
  }
}


