/*==================================
   Mixins
====================================*/

@mixin placeholder-color($color) {
  &:before { color: $color; }
  &::-webkit-input-placeholder {  color: $color;  }
  &::-moz-placeholder {  color: $color;  }
  &:-ms-input-placeholder {  color: $color;  }
  &:-moz-placeholder {  color: $color;  }
}
@mixin min-max-size($width, $height) {
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
}

// Buttons
@mixin b__ {
  &:active {
    &:not(.no-move) {
      * {
        position: relative;
        top: 1px;
      }
    }
  }
  &:disabled {
    border: 2px solid $gray-light-3;
    &, &:hover {
      background: transparent !important;
    }
    .icon {
      svg {
        path {
          fill: $gray-light-3;
          stroke: $gray-light-3;
        }
      }
    }
    .btn-text {
      color: $gray-light-3;
    }
  }
}

@mixin b1_ {
  @include b__;
  background: linear-gradient(to bottom, $red-light-1, $red);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $red, $red-dark-1);
  }
  &:active {
    background: linear-gradient(to bottom, $red-dark-2, $red-dark-1) !important;
  }
}
@mixin b2_ {
  @include b__;
  background: linear-gradient(to bottom, $blue, $blue-dark-1);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $blue-dark-1, $blue-dark-2);
  }
  &:active {
    background: linear-gradient(to bottom, $blue-dark-3, $blue-dark-2) !important;
  }
}
@mixin b3_ {
  @include b__;
  background: linear-gradient(to bottom, $gray-light-2, $gray-light-1);
  .has-hover &:hover {
    background: linear-gradient(to bottom, $gray-light-1, $gray);
  }
  &:active {
    background: linear-gradient(to bottom, $gray-dark-1, $gray) !important;
  }
}

@mixin b_a {
  box-sizing: border-box;
  height: 40px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  .icon {
    @include min-max-size(20px, 20px);
    margin-right: 10px;
  }
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@mixin b_b {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .icon {
    @include min-max-size(20px, 20px);
    margin-right: 10px;
  }
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &:disabled {
    padding-left: 28px;
    padding-right: 28px;
  }
}
@mixin b_c {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: $white;
  }
}
@mixin b_d {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}
@mixin b_e {
  max-width: 200px;
  height: 40px;
  border-radius: 3px;
  padding: 0 20px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  cursor: pointer;
  white-space:nowrap;
  &, >a, >span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: $white !important;
  }
}
@mixin b_g {
  height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  cursor: pointer;
  white-space:nowrap;
  &, >a, >span {
    color: $white !important;
  }
}
@mixin b_h {
  box-sizing: border-box;
  height: 60px;
  border-radius: 3px;
  color: $white;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  .btn-text {
    vertical-align: middle;
    cursor: pointer;
  }
  &, >a, >span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white !important;
  }
}
@mixin b_j {
  width: 100%;
  height: 40px;
  border-radius: 0 0 3px 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white;
  }
}
@mixin b_k {
  width: 100%;
  height: 60px;
  border-radius: 0 0 3px 3px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 16px;
  color: $white !important;
  cursor: pointer;
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  a, a:link, a:hover, a:focus, a:active, a:visited {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: $white;
  }
}
@mixin b_m {
  height: 40px;
  border-radius: 3px;
  color: $white !important;
  line-height: 20px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all .5s ease-in-out;
  .icon {
    width: 20px;
    height: 20px;
  }
}

@mixin b1a {
  @include b_a;
  @include b1_;
}
@mixin b2a {
  @include b_a;
  @include b2_;
}
@mixin b3a {
  @include b_a;
  @include b3_;
}

@mixin b1b {
  @include b_b;
  @include b1_;
}
@mixin b2b {
  @include b_b;
  @include b2_;
}
@mixin b3b {
  @include b_b;
  @include b3_;
}

@mixin b1c {
  @include b_c;
  @include b1_;
}
@mixin b2c {
  @include b_c;
  @include b2_;
}
@mixin b3c {
  @include b_c;
  @include b3_;
}

@mixin b1d {
  @include b_d;
  @include b1_;
}
@mixin b2d {
  @include b_d;
  @include b2_;
}
@mixin b3d {
  @include b_d;
  @include b3_;
}

@mixin b1e {
  @include b_e;
  @include b1_;
}
@mixin b2e {
  @include b_e;
  @include b2_;
}
@mixin b3e {
  @include b_e;
  @include b3_;
}

@mixin b1g {
  @include b_g;
  @include b1_;
}
@mixin b2g {
  @include b_g;
  @include b2_;
}
@mixin b3g {
  @include b_g;
  @include b3_;
}

@mixin b1h {
  @include b_h;
  @include b1_;
}
@mixin b2h {
  @include b_h;
  @include b2_;
}
@mixin b3h {
  @include b_h;
  @include b3_;
}

@mixin b1k {
  @include b_k;
  @include b1_;
}
@mixin b2k {
  @include b_k;
  @include b2_;
}
@mixin b3k {
  @include b_k;
  @include b3_;
}

@mixin b1m {
  @include b_m;
  @include b1_;
}
@mixin b2m {
  @include b_m;
  @include b2_;
}
@mixin b3m {
  @include b_m;
  @include b3_;
}

@mixin b1j {
  @include b_j;
  @include b1_;
}
@mixin b2j {
  @include b_j;
  @include b2_;
}
@mixin b3j {
  @include b_j;
  @include b3_;
}

// PopOvers
@mixin n__ {
  min-height: 40px;
  border-radius: 3px;
  padding: 10px 20px;
  font-family: PTSans-Regular, sans-serif;
  font-size: 14px;
  color: $white;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transform: scale(0.8);
  white-space:nowrap;
  cursor: default;
  a, span {
    color: $blue-light-1;
    cursor: pointer;
    .has-hover &:hover {
      color: $blue-light-2;
    }
  }
  .input-wrapper {
    position: relative;
    &:before, &:after {
      content: '';
      height: 38px;
      border-radius: 3px;
      position: absolute;
      top: 1px;
      cursor: text;
      display: none;
    }
    &:before {
      width: 50px;
      left: 1px;
      background-image: linear-gradient(to right, $white 40%, $transparent);
    }
    &:after {
      width: 30px;
      right: 80px;
      background-image: linear-gradient(to left, $white, $transparent);
    }
    &.blur-left {
      &:before {
        display: block;
      }
    }
    &.blur-right {
      &:after {
        display: block;
      }
    }
    input {
      width: 250px;
      height: 40px;
      padding: 10px 80px 10px 20px;
      border-radius: 3px;
      border: 1px solid $blue-light-1;
      background-color: $white;
      font-family: PTSans-Regular, sans-serif;
      font-size: 14px;
      color: $gray;
      line-height: 20px;
    }
    button {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &.ok-btn {
        @include b2m;
        position: absolute;
        right: 0;
      }
      &.clear-btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        right: 40px;
        cursor: pointer;
        .clear-icon-wrapper {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 10px;
            height: 10px;
            path {
              fill: $gray;
            }
          }
        }
        .has-hover &:hover {
          .clear-icon-wrapper {
            background-color: $red;
            svg {
              path {
                fill: $white;
              }
            }
          }
        }
        &:active {
          .clear-icon-wrapper {
            background-color: $red-dark-1;
            position: relative;
            top: 1px;
          }
        }
      }
    }
    &.empty {
      input {
        padding-right: 20px;
      }
      button {
        display: none;
      }
    }
  }
  .buttons-wrapper {
    margin-top: 20px;
    display: flex;
    button {
      flex-grow: 1;
      &.no {
        @include b3e;
      }
      &.yes {
        @include b2e;
        margin-left: 20px;
      }
    }
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 0 3px 0;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    margin-left: -7px;
    z-index: -1;
  }
}

@mixin n1_ {
  background-color: $gray;
  box-shadow: 0 5px 10px 0 rgba($gray-dark-2, 0.2);
  &:after {
    border-top: 7px solid $gray;
    border-right: 7px solid $gray;
  }
}
@mixin n2_ {
  background-color: $red;
  box-shadow: 0 5px 10px 0 rgba($red-dark-1, 0.2);
  &:after {
    border-top: 7px solid $red;
    border-right: 7px solid $red;
  }
}
@mixin n3_ {
  background-color: $green;
  box-shadow: 0 5px 10px 0 rgba($green-dark-3, 0.2);
  &:after {
    border-top: 7px solid $green;
    border-right: 7px solid $green;
  }
}

@mixin n_c {
  height: 40px;
  &:after {
    top: -7px;
    bottom: auto;
    left: 50%;
    transform: rotate(-45deg);
  }
}
@mixin n_e {
  height: 40px;
  &:after {
    top: auto;
    bottom: -7px;
    left: 50%;
    transform: rotate(135deg);
  }
}
@mixin n_f {
  &:after {
    top: -7px;
    bottom: auto;
    left: 50%;
    transform: rotate(-45deg);
  }
}
@mixin n_g {
  &:after {
    top: 50%;
    left: 0;
    margin-top: -7px;
    transform: rotate(-135deg);
  }
}
@mixin n_i {
  &:after {
    top: 50%;
    left: auto;
    right: -7px;
    margin-top: -7px;
    transform: rotate(45deg);
  }
}

@mixin n1c {
  @include n__;
  @include n1_;
  @include n_c;
}
@mixin n1e {
  @include n__;
  @include n1_;
  @include n_e;
}
@mixin n1f {
  @include n__;
  @include n1_;
  @include n_f;
}
@mixin n1g {
  @include n__;
  @include n1_;
  @include n_g;
}
@mixin n1i {
  @include n__;
  @include n1_;
  @include n_i;
}

@mixin n2c {
  @include n__;
  @include n2_;
  @include n_c;
}
@mixin n2e {
  @include n__;
  @include n2_;
  @include n_e;
}
@mixin n2f {
  @include n__;
  @include n2_;
  @include n_f;
}
@mixin n2g {
  @include n__;
  @include n2_;
  @include n_g;
}
@mixin n2i {
  @include n__;
  @include n2_;
  @include n_i;
}

@mixin n3c {
  @include n__;
  @include n3_;
  @include n_c;
}
@mixin n3e {
  @include n__;
  @include n3_;
  @include n_e;
}
@mixin n3f {
  @include n__;
  @include n3_;
  @include n_f;
}
@mixin n3g {
  @include n__;
  @include n3_;
  @include n_g;
}
@mixin n3i {
  @include n__;
  @include n3_;
  @include n_i;
}

@mixin comment-author {
  display: flex;
  align-items: center;
  font-family: PTSans-Bold, sans-serif;
  >div {
    display: flex;
    align-items: center;
    height: 100%;
    .image, .icon-user-photo {
      @include min-max-size(20px, 20px);
      border-radius: 50%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      .name {
        font-family: PTSans-Bold, sans-serif;
        font-size: 7px;
        color: $white;
        text-transform: uppercase;
        display: none;
      }
      &.no-photo {
        background-color: $green-light-1;
        text-align: center;
        .name {
          display: block;
        }
      }
    }
    .name-ranking-wrapper {
      display: flex;
      margin-left: 10px;
      .name {
        color: $blue-dark-1 !important;
        text-transform: capitalize;
        margin-left: 10px;
      }
      .ranking-wrapper {
        margin: 0 20px 0 10px;
        .icon-wrapper {
          display: inline-block;
          vertical-align: bottom;
          position: relative;
          top: 2px;
          .icon {
            path {
              fill: $gray-dark-2;
            }
          }
        }
        .icon-text {
          font-family: PTSans-Regular !important;
          margin-left: 5px;
          color: $gray-dark-2;
        }
      }
    }
    &.anonymous {
      cursor: default;
      .name-ranking-wrapper {
        .name {
          color: $gray-dark-2 !important;
        }
      }
    }
    .has-hover &:not(.anonymous):hover {
      .name-ranking-wrapper {
        .name {
          color: $blue-dark-3 !important;
        }
      }
    }
  }
}
@mixin comment-rating {
  display: flex;
  position: relative;
  .mark-count {
    font-size: 16px;
    display: none;
    white-space: nowrap;
    span {
      font-family: PTSans-Regular;
    }
    &.dislike-count {
      color: $red;
      margin-right: 40px;
    }
    &.like-count {
      margin-left: 40px;
      color: $green-dark-1;
    }
  }
  .icon-wrapper {
    width: 40px;
    height: auto;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .icon {
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: bottom;
      &.disslike-icon {
        path {
          stroke: $red;
        }
      }
      &.like-icon {
        path {
          stroke: $green;
        }
      }
    }
    .custom-popover {
      @include n1f;
      top: 5px;
    }
    .mark-count {
      display: block;
      margin: 15px 0 0;
      &.dislike-count {
        align-self: flex-end;
      }
      &.like-count {
        align-self: flex-start;
      }
    }
    .has-hover &:hover {
      .icon {
        &.disslike-icon {
          path {
            fill: $red;
          }
        }
        &.like-icon {
          path {
            fill: $green;
          }
        }
      }
    }
    &:active {
      .icon {
        &.disslike-icon {
          path {
            stroke: $red-dark-1;
            fill: $red-dark-1;
          }
        }
        &.like-icon {
          path {
            stroke: $green-dark-2;
            fill: $green-dark-2;
          }
        }
      }
    }
    &.disabled {
      cursor: not-allowed !important;
      .icon {
        path {
          stroke: $gray-light-2 !important;
        }
      }
    }
  }
  .rating-value {
    min-width: 40px;
    text-align: center;
    font-family: PTSans-Bold, sans-serif;
    font-size: 20px;
    color: $gray-light-2;
    line-height: 40px;
    cursor: default;
    &.positive {
      color: $green;
    }
    &.negative {
      color: $red;
    }
  }
  .custom-popover {
    &.n1g {
      @include n1g;
      right: -250px;
      span {
        font-family: PTSans-Bold;
      }
    }
    &.n1i {
      @include n1i;
      right: 100px;
    }
    &.n1f {
      @include n1f;
      top: 5px;
    }
    &.n1e {
      @include n1e;
      top: -75px;
    }
    &.normal-wrap {
      white-space: normal;
    }
  }
  &.dissliked {
    .icon-wrapper {
      .icon.disslike-icon {
        path {
          fill: $red;
        }
      }
    }
  }
  &.liked {
    .icon-wrapper {
      .icon.like-icon {
        path {
          fill: $green;
        }
      }
    }
  }

  @media (min-width: 720px) {
    .mark-count {
      display: block;
    }
    .icon-wrapper {
      .mark-count {
        display: none;
      }
    }
  }
}

@mixin sc3 {
  .slimScrollRail {
    opacity: 0.7 !important;
    background-color: $gray-light-4 !important;
  }
  .slimScrollBar{
    opacity: 1 !important;
    background-color: $gray-light-3 !important;
    transition: background-color .5s ease-in-out;
    .has-hover &:hover {
      background-color: $blue-dark-1 !important;
      transition: background-color .5s ease-in-out;
    }
    &:active {
      background: $blue-dark-3 !important;
      transition: background-color .5s ease-in-out;
    }
  }
}
@mixin textarea {
  @include sc3;
  padding: 20px 0 20px;
  background-color: $background;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 0 0 $inner-shadow;
  transition: all .5s ease-in-out;
  textarea {
    width: 100%;
    padding: 0 50px 0 20px;
    background-color: $background;
    font-family: PTSans-Regular;
    font-size: 14px;
    color: $gray-dark-2;
    line-height: 24px;
    overflow: hidden;
    @include placeholder-color($gray-light-2);
    transition: all .5s ease-in-out;
    &:empty:focus{
      @include placeholder-color($blue-light-2);
      transition: all .5s ease-in-out;
    }
  }
  label {
    font-family: PTSans-Regular;
    font-size: 14px;
    color: $gray-light-2;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: text;
    transition: all .5s ease-in-out;
  }
  &.focused {
    border-color: $blue-light-1;
    background-color: $white;
    box-shadow: none;
    transition: all .5s ease-in-out;
    textarea {
      background-color: $white;
      transition: all .5s ease-in-out;
    }
    label {
      color: $blue-light-1;
    }
  }
  &.not-empty {
    padding-top: 35px;
    label {
      top: 15px;
      font-size: 12px;
      transition: all .5s ease-in-out;
    }
  }
  .char-counter {
    font-family: PTSans-Regular;
    font-size: 12px;
    color: $gray-light-2;
    position: absolute;
    bottom: 15px;
    right: 80px;
  }
}