/*==================================
   Global settings
====================================*/

// General settings
body {
  background-color: $white;
  font-family: PTSans-Regular;
  [v-cloak] {
    display: none !important;
  }
  .container {
    max-width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    &:before, &:after {
      display: none;
    }
    .row {
      margin: 0;
      &:before, &:after {
        display: none;
      }
    }
  }

  @media (min-width: 720px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: 1340px) {
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  @media (min-width: 1520px) {
    .container {
      box-sizing: content-box;
      max-width: 1360px !important;
    }
  }

  @media (min-width: 2480px) {
    .container {
      padding-left: 160px;
      padding-right: 160px;
    }
  }
}

// Elements
a {
  &, &:link, &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
}
p, label, h1, h2, h3 {
  margin: 0;
}
input, textarea, button {
  border: none;
  &:focus {
    box-shadow: none !important;
  }
  &, &:hover, &:focus, &:active {
    outline: none !important;
  }
}

.author-info, .user-info {
  @include comment-author;
  >div {
    .image {
      @include min-max-size(40px, 40px);
      .name {
        font-size: 14px;
      }
    }
    .name-ranking-wrapper {
      flex-direction: column;
    }
    >.name {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.rating-wrapper{
  @include comment-rating;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
}
.icon-text, .icon-wrapper {
  font-family: inherit !important;
  line-height: inherit !important;
}