/*==================================
   Variables
====================================*/

// Colors
$background: #ECEFF1;
$inner-shadow: #CFD8DC;
$blue-dark-3: #0D47A1;
$blue-dark-2: #1976D2;
$blue-dark-1: #2196F3;
$blue: #42A5F5;
$blue-light-1: #90CAF9;
$blue-light-2: #BBDEFB;
$blue-light-3: #E2F2FD;
$blue-light-9: #F0F8FE;
$gray-dark-4: #161C1F;
$gray-dark-3: #1B262A;
$gray-dark-2: #243238;
$gray-dark-1: #455A64;
$gray: #546E7A;
$gray-light-1: #78909C;
$gray-light-2: #90A4AE;
$gray-light-3: #B0BEC5;
$gray-light-4: #DDE3E6;
$green-dark-3: #006023;
$green-dark-2: #0B8738;
$green-dark-1: #26B64E;
$green: #1AB744;
$green-light-1: #48C569;
$green-light-2: #76D48F;
$green-light-8: #E3FFEB;
$green-light-9: #EEFBF2;
$orange-light-1: #FF7043;
$orange: #FF6F00;
$red-dark-2: #9C2500;
$red-dark-1: #BF360C;
$red: #D84315;
$red-light-1: #F4511E;
$red-light-9: #FDF4F3;
$yellow: #FFB302;
$white: #FFFFFF;
$transparent: rgba(255,255,255,0.001);