<template>
    <div class="rating-wrapper" 
         :class="{ liked: comment.user_rating > 0, dissliked: comment.user_rating < 0 }" 
         v-if="comment && comment.id">
        <div class="icon-wrapper"
             :class="{disabled: $parent.currentUser && $parent.currentUser.id == comment.id}"
             @click.stop.prevent="rateComment('dislike')"
        >
            <svg class="icon disslike-icon" width="20px" height="18px" viewBox="0 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-10.000000, -11.000000)" fill-rule="nonzero">
                        <rect opacity="0" x="0" y="0" width="40" height="40"></rect>
                        <path d="M10.8658009,17.8428843 C10.8658009,18.1801926 10.9628629,18.4949556 11.1308416,18.7618091 C10.4697309,19.0155976 10,19.6485289 10,20.3905684 C10,21.3568311 10.7964997,22.1380845 11.7748918,22.1380845 L18.0879758,22.1380845 C17.9906369,22.5304993 17.8936323,22.9461387 17.8027076,23.3696748 C17.7155542,23.7756437 17.6382239,24.1695816 17.573313,24.5447481 C17.4356903,25.3401687 17.3593074,26.0171552 17.3593074,26.5466224 C17.3593074,27.9117019 18.0531786,28.8203643 19.0602897,28.9777591 C20.0147478,29.1269251 20.9090909,28.5116987 20.9090909,27.5546561 C20.9090909,24.0605255 23.8387902,21.2888564 26.9264069,21.2888564 L29.5238095,21.2888564 C29.7868023,21.2888564 30,21.0767853 30,20.8151824 L30,13.0617305 C30,12.8001275 29.7868023,12.5880564 29.5238095,12.5880564 C26.6190784,12.5880564 25.0329415,12.3386878 23.6279702,11.8232867 C23.4353792,11.7526364 22.8266033,11.5133607 22.7763155,11.494233 C21.8598476,11.1456406 21.139701,11 20,11 L14.3722944,11 C13.3939023,11 12.5974026,11.7812534 12.5974026,12.7475161 C12.5974026,13.0848244 12.6944646,13.3995874 12.8624433,13.6664409 C12.2013326,13.9202294 11.7316017,14.5531607 11.7316017,15.2952002 C11.7316017,15.6325085 11.8286637,15.9472715 11.9966425,16.214125 C11.3355318,16.4679135 10.8658009,17.1008448 10.8658009,17.8428843 Z" id="Stroke-436"></path>
                    </g>
                </g>
            </svg>
        </div>
        <div class="rating-value" :class="{ positive: comment.rating > 0, negative: comment.rating < 0 }">{{ comment.rating.toLocaleString('en-US', {maximumFractionDigits: 0}) }}</div>
        <div class="icon-wrapper"
             :class="{disabled: $parent.currentUser && $parent.currentUser.id == comment.id}"
             @click.stop.prevent="rateComment('like')"
        >
            <svg class="icon like-icon" width="20px" height="18px" viewBox="0 -1 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-10.000000, -11.000000)" fill-rule="nonzero">
                        <rect opacity="0" x="0" y="0" width="40" height="40"></rect>
                        <path d="M29.1341991,22.1730154 C29.1341991,21.8368722 29.0376008,21.5232607 28.8703348,21.2572692 C29.5310647,21.0039672 30,20.3728924 30,19.6316909 C30,18.6666716 29.2038536,17.8873553 28.2251082,17.8873553 L21.9112193,17.8873553 C22.0088562,17.4918237 22.1061761,17.0729368 22.1973778,16.6463159 C22.2834269,16.2437971 22.359909,15.8532247 22.424317,15.4811723 C22.563428,14.6775978 22.6406926,13.9951935 22.6406926,13.4638965 C22.6406926,12.1029895 21.9487412,11.1920696 20.9442611,11.0251586 C19.9891498,10.8664509 19.0909091,11.4732952 19.0909091,12.4312716 C19.0909091,15.9241394 16.1474153,18.7344634 13.0735931,18.7344634 L10.4761905,18.7344634 C10.2131977,18.7344634 10,18.9465342 10,19.2081369 L10,26.8321103 C10,27.0937129 10.2131977,27.3057837 10.4761905,27.3057837 C13.3775652,27.3057837 14.9603025,27.5712521 16.3624512,28.1200026 C16.5547957,28.1952793 17.1634235,28.4504882 17.2138929,28.4709683 C18.1329367,28.8439091 18.8563946,29 20,29 L25.6277056,29 C26.6067018,29 27.4025974,28.2212879 27.4025974,27.2556643 C27.4025974,26.9195211 27.3059991,26.6059097 27.1387331,26.3399182 C27.7994629,26.0866161 28.2683983,25.4555414 28.2683983,24.7143399 C28.2683983,24.3781966 28.1717999,24.0645852 28.0045339,23.7985937 C28.6652638,23.5452917 29.1341991,22.9142169 29.1341991,22.1730154 Z" id="Stroke-435"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'comment-rating',
        props: ['comment'],
        methods: {
            rateComment(rating) {
                if (this.$parent.currentUser && this.$parent.currentUser.id != this.comment.id) {
                    if (rating == 'like') {
                        if (this.comment.user_rating == 0) {
                            this.comment.user_rating = 1;
                            this.comment.rating += 1;
                            this.comment.liked += 1;
                        } else if (this.comment.user_rating < 0) {
                            this.comment.user_rating = 1;
                            this.comment.rating += 2;
                            this.comment.disliked -= 1;
                            this.comment.liked += 1;
                        } else {
                            this.comment.user_rating = 0;
                            this.comment.rating -= 1;
                            this.comment.liked -= 1;
                        }
                    } else if (rating == 'dislike') {
                        if (this.comment.user_rating == 0) {
                            this.comment.user_rating = -1;
                            this.comment.rating -= 1;
                            this.comment.disliked += 1;
                        } else if (this.comment.user_rating > 0) {
                            this.comment.user_rating = -1;
                            this.comment.rating -= 2;
                            this.comment.liked -= 1;
                            this.comment.disliked += 1;
                        } else {
                            this.comment.user_rating = 0;
                            this.comment.rating += 1;
                            this.comment.disliked -= 1;
                        }
                    }

                    this.$root.$emit('rating-change', {
                        comment: this.comment,
                        user: this.$parent.currentUser
                    });
                }
            },
        }
    }
</script>