<template>
    <div class="new-comment-wrapper">
        <div class="padding-block"
             v-if="isReply && !editMode">
        </div>
        <div class="user-and-input-wrapper"
             v-if="isReply && !editMode">
            <div class="user-info-wrapper">
                <user-info class="user-info"
                           :user="$parent.currentUser"
                           :new-comment="true">
                </user-info>
            </div>
            <div class="input-group">
                <div class="input-area-wrapper"
                     :class="{'focused': newComment.focused, 'not-empty': newComment.value.length}">
                    <label :for="'new-comment-' + newComment.parent">Enter your message</label>
                    <textarea-autosize
                            :id="'new-comment-' + newComment.parent"
                            name="comment"
                            v-model.trim="newComment.value"
                            v-focus="newComment.focused"
                            @focus.native="newComment.focused = true"
                            @blur.native="newComment.focused = false"
                            :min-height="127"
                            :max-height="315"
                            :maxlength="newComment.maxLength"
                    ></textarea-autosize>
                    <span class="char-counter" v-text="charsLeft"></span>
                </div>
                <button type="submit"
                        class="add-comment-btn equal-height"
                        :disabled="!newComment.value.length"
                        @click.prevent="addComment">
                    <div class="icon-wrapper">
                        <img data-markup-inline src="/../images/send.svg">
                    </div>
                </button>
            </div>
        </div>
        <div class="user-info-wrapper"
             v-if="!isReply && !editMode">
            <user-info class="user-info"
                       :user="$parent.currentUser"
                       :new-comment="true"></user-info>
        </div>
        <div class="input-group"
             v-if="!isReply || editMode">
            <div class="input-area-wrapper"
                 :class="{'focused': newComment.focused, 'not-empty': newComment.value.length}">
                <label :for="'new-comment-' + newComment.parent">Enter your message</label>
                <textarea-autosize
                        :id="'new-comment-' + newComment.parent"
                        name="comment"
                        v-model.trim="newComment.value"
                        v-focus="newComment.focused"
                        @focus.native="newComment.focused = true"
                        @blur.native="newComment.focused = false"
                        :min-height="127"
                        :max-height="315"
                        :maxlength="newComment.maxLength"
                ></textarea-autosize>
                <span class="char-counter" v-text="charsLeft"></span>
            </div>
            <button type="submit"
                    class="add-comment-btn equal-height"
                    :disabled="!newComment.value.length"
                    @click.prevent="addComment">
                <div class="icon-wrapper">
                    <img data-markup-inline src="/../images/send.svg">
                </div>
            </button>
        </div>
        <div class="hotkey-hint" v-if="!editMode">
            <div class="hotkey">{{ isMac ? 'Cmd' : 'Ctrl'}} + Enter</div>
            <div class="caption">to send your message</div>
        </div>
    </div>
</template>

<script>
    import UserInfo from './UserInfo.vue';

    export default {
        name: 'new-comment-field',
        props: ['is-reply', 'edit-mode'],
        directives: { focus: focus },
        data() {
            return {
                newComment: {
                    value: '',
                    parent: 0,
                    focused: false,
                    maxLength: 1000
                }
            }
        },
        methods: {
            keydownEvents(event) {
                if ((this.isMac && event.metaKey || !this.isMac && event.ctrlKey) && event.keyCode === 13) {
                    if (this.newComment.focused) this.addComment();
                }
            },
            addComment() {
                if (this.newComment.value.length) {
                    let comment = {
                        approved: false,
                        author: this.$parent.currentUser,
                        parent: this.newComment.parent,
                        childrens: [],
                        text: this.newComment.value,
                        date: moment().format('YYYY-MM-D H:m:s'),
                        rating: 0,
                        user_rating: 0
                    };
                    if (this.editMode) {
                        comment.id = this.$parent.comment.id;
                        this.$root.$emit('comment-edited', comment);
                        this.$set(this.$parent, 'editMode', false);
                    } else {
                        this.$root.$emit('comment-created', comment);
                        if (this.isReply) this.$set(this.$parent, 'reply', false);
                    }
                    this.newComment.value = '';
                }
            },
        },
        created() {
            if (this.isReply) {
                this.newComment.parent = this.$parent.comment.parent ? this.$parent.comment.parent : this.$parent.comment.id;
                this.newComment.value = this.$parent.comment.author.name ? this.$parent.comment.author.name + ', ' : '';
            } else if (this.editMode) {
                this.newComment.value = this.$parent.comment.text;
            }
        },
        mounted() {
            window.addEventListener('keydown', this.keydownEvents);

            $('#new-comment-' + this.newComment.parent).on('input', function() {
               setTimeout(() => {
                   if ($(this).height() >= 315) {
                       $(this).blur();
                       $(this).slimscroll({
                           width: '100%',
                           height: '315px',
                           size: '8px',
                           distance: '60px',
                           railVisible: true,
                           scrollTo: '315px'
                       });
                       $(this).focus();
                   } else {
                       $(this).blur();
                       $(this).slimscroll({destroy: true});
                       $(this).focus();
                   }
               }, 50);
            });
        },
        computed: {
            charsLeft() {
                return this.newComment.maxLength - this.newComment.value.length;
            },
            isMac() {
                return window.navigator.platform === 'MacIntel';
            }
        },
        beforeDestroy() {
            window.removeEventListener('keydown', this.keydownEvents);
        },
        components: {
            UserInfo
        }
    }
</script>