<template>
    <div class="comment"
         :class="{'unapproved': !comment.approved}"
         :id="'comment-' + comment.id">
        <div class="main-block">
            <div class="padding-block"
                 v-if="isAnswer">
            </div>
            <div class="user-and-comment-wrapper"
                 v-if="isAnswer">
                <div class="user-info-wrapper">
                    <user-info class="user-info"
                               :user="comment.author"
                               :new-comment="comment.isNew">
                    </user-info>
                </div>
                <div class="comment-content">
                    <div class="date-rating-wrapper">
                        <p class="comment-date"
                           :class="{'editable': currentUser && comment.author.id == currentUser.id && editTime  && !comment.childrens.length}">
                            <span v-text="getFormatedDate(comment.date, true)"></span><span v-if="currentUser && comment.author.id == currentUser.id && editTime && !comment.childrens.length" @click="editMode = !editMode" class="edit-message">. You can <span>edit your comment</span> within {{ editTimeText }}</span>
                        </p>
                        <comment-rating :comment="comment"></comment-rating>
                    </div>
                    <transition v-on:enter="newCommentEnter"
                                v-on:leave="newCommentLeave"
                                v-bind:css="false" mode="out-in">
                        <p class="comment-text"
                           v-if="!editMode"
                           v-text="comment.text">
                        </p>
                        <new-comment-field v-if="editMode"
                                           :is-reply="false"
                                           :edit-mode="true">
                        </new-comment-field>
                    </transition>
                    <transition v-on:enter="unapprovedCommentEnter"
                                v-on:leave="unapprovedCommentLeave"
                                v-bind:css="false"
                                mode="out-in">
                        <div class="custom-popover"
                             v-if="!comment.approved"
                             v-show="showPopover"
                             data-position="20">
                            <div class="icon">
                                <img data-markup-inline src="/../images/hourglass.svg">
                            </div>
                            Comment is visible only for you. Sorry, but we need to check your review before publication.
                            In case your review corresponds to our rules, it will be published soon :)
                        </div>
                    </transition>
                    <span class="reply"
                          v-if="comment.approved"
                          @click="reply = !reply"
                          v-text="!reply ? 'Reply' : 'Don\'t reply'">
                    </span>
                </div>
            </div>
            <div class="user-info-wrapper"
                 v-if="!isAnswer">
                <user-info class="user-info"
                           :user="comment.author"
                           :new-comment="comment.isNew">
                </user-info>
            </div>
            <div class="comment-content"
                 :class="{'unapproved': !comment.approved}"
                 v-if="!isAnswer">
                <div class="date-rating-wrapper">
                    <p class="comment-date"
                       :class="{'editable': currentUser && comment.author.id == currentUser.id && editTime  && !comment.childrens.length}">
                        <span v-text="getFormatedDate(comment.date, true)"></span><span v-if="currentUser && comment.author.id ==  currentUser.id && editTime  && !comment.childrens.length" @click="editMode = !editMode" class="edit-message">. You can <span>edit your comment</span> within {{ editTimeText }}</span>
                    </p>
                    <comment-rating :comment="comment"></comment-rating>
                </div>
                <transition v-on:enter="newCommentEnter"
                            v-on:leave="newCommentLeave"
                            v-bind:css="false"
                            mode="out-in">
                    <p class="comment-text"
                       v-if="!editMode"
                       v-text="comment.text">
                    </p>
                    <new-comment-field v-if="editMode"
                                       :is-reply="false"
                                       :edit-mode="true">
                    </new-comment-field>
                </transition>
                <transition v-on:enter="unapprovedCommentEnter"
                            v-on:leave="unapprovedCommentLeave"
                            v-bind:css="false" mode="out-in">
                    <div class="custom-popover"
                         v-if="!comment.approved"
                         v-show="showPopover"
                         data-position="20">
                        <div class="icon">
                            <img data-markup-inline src="/../images/hourglass.svg">
                        </div>
                        Comment is visible only for you. Sorry, but we need to check your review before publication.
                        In case your review corresponds to our rules, it will be published soon :)
                    </div>
                </transition>
                <span  class="reply"
                       v-if="comment.approved"
                       @click="reply = !reply"
                       v-text="!reply ? 'Reply' : 'Don\'t reply'">
                </span>
            </div>
            <div class="comment-rating-wrapper">
                <comment-rating :comment="comment"></comment-rating>
            </div>
        </div>
        <transition v-on:enter="newCommentEnter"
                    v-on:leave="newCommentLeave"
                    v-bind:css="false">
            <div class="reply-block"
                 v-show="reply">
                <new-comment-field
                        :is-reply="true"
                        :edit-mode="false"></new-comment-field>
            </div>
        </transition>
        <div class="answer-block"
             v-if="!isAnswer">
            <post-comment v-for="(comment, index) in comment.childrens"
                          :current-user="currentUser"
                          :comment="comment"
                          :is-answer="true"
                          :key="index">
            </post-comment>
        </div>
    </div>
</template>

<script>
    import Velocity from 'velocity-animate';
    import UserInfo from './UserInfo.vue';
    import CommentRating from './CommentRating.vue';
    import NewCommentField from './NewCommentFiled.vue';

    export default {
        name: 'post-comment',
        props: ['current-user', 'comment', 'is-answer'],
        data() {
            return {
                reply: false,
                editMode: false,
                editTime: 0,
                showPopover: false,
                timezone: null,
                easeInOutQuint: [0.860, 0.000, 0.070, 1.000],
            }
        },
        methods: {
            calculateEditTime() {
                let currentDate = moment().tz(this.timezone),
                    postDate = moment(this.comment.date).tz(this.timezone),
                    diff =  moment.duration(postDate.diff(currentDate)),
                    editTime = this.$parent.editTimeLimit + diff._milliseconds/1000/60;

                this.editTime = editTime > 0 ? this.$parent.editTimeLimit + diff._data.minutes : 0;
            },
            getFormatedDate(inputDate, withTime = false) {
                let date = moment(inputDate).tz(this.timezone),
                    dateStart = date.clone().startOf('day'),
                    now = moment().tz(this.timezone),
                    yesterday = now.clone().subtract(1, 'days').startOf('day'),
                    dayBeforeYesterday = now.clone().subtract(2, 'days').startOf('day'),
                    duration = moment.duration(now.diff(date)),
                    durationAsDays = duration.asDays(),
                    durationAsHours = duration.asHours(),
                    durationAsMinutes = duration.asMinutes();

                let dateToReturn = '';

                if (durationAsDays >= 2 || dateStart.isSame(dayBeforeYesterday, 'd')) {
                    dateToReturn = date.format('MMM D, Y') + (withTime ? ' at ' + date.format('H:mm') : '');
                } else if (durationAsHours >= 10) {
                    if (dateStart.isSame(yesterday, 'd')) {
                        dateToReturn = 'Yesterday' + (withTime ? ' at ' + date.format('H:mm') : '');
                    } else {
                        dateToReturn = 'Today' + (withTime ? ' at ' + date.format('H:mm') : '');
                    }
                } else if (durationAsHours >= 1) {
                    let hours = Math.round(durationAsHours);
                    dateToReturn = hours + (hours === 1 ? ' hour ' : ' hours ') + 'ago';
                } else if (durationAsHours < 1 && durationAsMinutes >= 2) {
                    dateToReturn = Math.round(durationAsMinutes) + ' minutes ago';
                } else {
                    dateToReturn = 'Now';
                }

                return dateToReturn;
            },
            resizeEvent() {
                let nameFields = this.$el.querySelectorAll('.name-overflow-wrapper .name');
                for (let item in nameFields) {
                    let nameField = nameFields[item];
                    if (typeof nameField === 'object') {
                        let nameFieldStyles = window.getComputedStyle(nameField);
                        if (parseInt(nameFieldStyles.height) >= parseInt(nameFieldStyles.maxHeight)) {
                            nameField.classList.add('overflowed');
                        } else {
                            nameField.classList.remove('overflowed');
                        }
                    }
                }
             },
            // Animations
            newCommentEnter(el, done) {
                Velocity(el, 'stop');
                Velocity(el,
                    {
                        maxHeight: 999,
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                    }
                );
                Velocity(el,
                    {
                        opacity: 1
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                        complete: done
                    }
                );
            },
            newCommentLeave(el, done) {
                Velocity(el, 'stop');
                Velocity(el,
                    {
                        opacity: 0,
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                    }
                );
                Velocity(el,
                    {
                        maxHeight: 0,
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                        complete: done
                    }
                );
            },
            unapprovedCommentEnter(el, done) {
                Velocity(el, 'stop');
                Velocity(el,
                    {
                        opacity: 1,
                        top: 0,
                        scale: 1
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                        complete: done
                    }
                );
            },
            unapprovedCommentLeave(el, done) {
                Velocity(el, 'stop');
                Velocity(el,
                    {
                        opacity: 0,
                        top: -40,
                        scale: 0.8
                    },
                    {
                        duration: 300,
                        easing: this.easeInOutQuint,
                        complete: done
                    }
                );
            },
        },
        created() {
            this.timezone = moment.tz.guess();
        },
        mounted() {
            window.addEventListener('resize', this.resizeEvent);

            setTimeout(() => {
                this.showPopover = true;
            }, 500);

            let currentDate = moment().tz(this.timezone),
                postDate = moment(this.comment.date).tz(this.timezone),
                diff =  moment.duration(postDate.diff(currentDate));

            if (diff._milliseconds/1000/60*1 >= -this.$parent.editTimeLimit) {
                this.calculateEditTime();
                setInterval(() => { this.calculateEditTime() }, 1000*60);
            }
        },
        computed: {
            editTimeText() {
                return this.editTime === 1 ? this.editTime + ' minute' : this.editTime + ' minutes';
            }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.resizeEvent);
        },
        components: {
            UserInfo,
            CommentRating,
            NewCommentField
        }
    }
</script>