<template>
    <div class="post-comments container" v-if="comments.length">
        <div class="empty" v-if="!totalCount">Be The First to Write a Comment</div>
        <div class="comments-wrapper">
            <div class="title-filter-wrapper"
                 v-if="totalCount">
                <div class="title-count"><animated-integer class="count" :value="totalCount"></animated-integer> Comments</div>
                <div class="orderby">
                    Show first:
                    <span :class="{'active': orderBy == 'date'}"
                          @click="orderBy = 'date'"
                          v-text="'Newest'">
                    </span>
                    <span :class="{'active': orderBy == 'rating'}"
                          @click="orderBy = 'rating'"
                          v-text="'Top rated'">
                    </span>
                </div>
            </div>
            <new-comment-field :is-reply="false"
                               :edit-mode="false">
            </new-comment-field>
            <div class="comments-list" ref="commentList">
                <post-comment v-for="(comment, index) in comments"
                              v-if="comment.approved || comment.author.id == currentUser.id"
                              :current-user="currentUser"
                              :comment="comment"
                              :is-answer="false"
                              :key="index">
                </post-comment>
            </div>
        </div>
    </div>
</template>

<script>
    import AnimatedInteger from './AnimatedInteger.vue';
    import NewCommentField from './NewCommentFiled.vue';
    import PostComment from './PostComment.vue';

    export default {
        name: 'vue-simple-comments',
        props: ['comments-list', 'current-user', 'edit-time-limit'],
        data() {
            return {
                comments: [],
                totalCount: 0,
                orderBy: null,
            }
        },
        methods: {
            sortByDate(a, b) {
                let aDate = new Date(a.date).getTime(),
                    bDate = new Date(b.date).getTime();

                for (let item in a.childrens) {
                    let childDate = new Date(a.childrens[item].date).getTime();
                    if (childDate > aDate) aDate = childDate;
                }

                for (let item in b.childrens) {
                    let childDate = new Date(b.childrens[item].date).getTime();
                    if (childDate > bDate) bDate = childDate;
                }

                return aDate < bDate ? 1 : -1;
            },
            sortByRating(a, b) {
                return a.rating < b.rating ? 1 : -1;
            }
        },
        created() {
            moment.tz.setDefault("UTC");
            this.comments = this.commentsList;
            this.orderBy = 'date';
        },
        mounted() {
            for (let item in this.comments) {
                let comment = this.comments[item];
                if (comment.approved) this.totalCount++;
                for (let childItem in comment.childrens) {
                    if (comment.childrens[childItem].approved) this.totalCount++;
                }
            }

            this.$root.$on('comment-created', (newComment) => {
                if (newComment.parent) {
                    for (let item in this.comments) {
                        let commentItem = this.comments[item];
                        if (commentItem.id == newComment.parent) {
                            commentItem.childrens.unshift(newComment)
                        }
                    }
                } else {
                    this.comments.unshift(newComment)
                }

                let data = this.comments;
                this.comments = [];
                this.$nextTick(() => this.comments = data);
            }),
            this.$root.$on('comment-edited', (newComment) => {
                mainloop:
                for (let item in this.comments) {
                    let comment = this.comments[item];
                    if (comment.id == newComment.id) {
                        comment.text = newComment.text;
                        break;
                    }
                    for (let childItem in comment.childrens) {
                        let childComment = comment.childrens[childItem];
                        if (childComment.id == newComment.id) {
                            childComment.text = newComment.text;
                            break mainloop;
                        }
                    }
                }
            })
        },
        watch: {
            'orderBy': function (orderBy) {
                if (orderBy === 'date') {
                    this.comments = this.comments.sort(this.sortByDate);
                } else if (orderBy === 'rating') {
                    this.comments = this.comments.sort(this.sortByRating);
                }
                let data = this.comments;
                this.comments = [];
                this.$nextTick(() => this.comments = data);
            }
        },
        components: {
            AnimatedInteger,
            NewCommentField,
            PostComment,
        },
    }
</script>