<template>
    <div v-if="user && user.id >= 0">
        <div :class="{'anonymous': !user || user.id < 1}">
            <div class="image icon icon-user-photo" :class="{'no-photo': !user.avatar}" :style="user.avatar ? 'background-image: url(' + user.avatar + ')' : ''">
                <span class="name">{{ user.initials }}</span>
            </div>
            <div class="name-wrapper">
                <span class="name" v-if="!user.id && newComment" v-text="Anonymous"></span>
                <span class="name-overflow-wrapper" v-else ref="nameOverflowWrapper"><span class="name" :class="{'on-user-page': $root.isUserPage}" v-text="authorName"></span></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'user-info',
        props: ['user', 'new-comment'],
        methods: {
            resizeEvent(event) {
                let nameOverflowWrapper = this.$refs['nameOverflowWrapper'];
                if (nameOverflowWrapper) {
                    let nameField = nameOverflowWrapper.querySelector('.name');
                    if (nameOverflowWrapper && nameField) {
                        let nameOverflowWrapperStyles = window.getComputedStyle(nameOverflowWrapper),
                            nameFieldStyles = window.getComputedStyle(nameField);
                        if (parseInt(nameFieldStyles.width) >= parseInt(nameOverflowWrapperStyles.maxWidth)) {
                            nameOverflowWrapper.classList.add('overflowed');
                        } else {
                            nameOverflowWrapper.classList.remove('overflowed');
                        }
                    }
                }
            }
        },
        created() {

        },
        mounted() {
            window.addEventListener('resize', this.resizeEvent);
            this.resizeEvent();

        },
        computed: {
          authorName() {
              let authorName = '';
              if (this.user.name) {
                  authorName = this.user.name;
              } else {
                  authorName = this.user.nickname ? this.user.nickname : this.user.id;
              }
              return authorName;
          }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.resizeEvent);
        }
    }
</script>